@font-face {
  font-family: "Slabo";
  src:
    local("Slabo"), url("slabo.ttf") format("opentype")
}

/**
 * Default styling of built in components
 */

body {
  font-family: "Slabo", serif;
  background-color: var(--background);
  font-size: 1.4em;
}

h1 {
  font-size: 4em;
}

/**
 * Makes the stars canvas element be hidden
 * in the background
 */
#stars {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 8s;
}

a:any-link {
  color: inherit;
  text-decoration-color: var(--grabby);
}

/* Put animations here */
@media not (prefers-reduced-motion) {
  /**
   * Waving hand at the top of the page.
   * Just a bit of CSS to make it go back/forth
   */
  #handWave {
    animation: 3s infinite handwave;
  }
}

@keyframes handwave {
  from {
    rotate: 0.0turn
  }

  50% {
    rotate: -0.2turn
  }

  to {
    rotate: 0.0turn
  }
}
