/**
 * This contains utility classes that you might chuck
 * on random elements
 */

/**
 * Generic class to make an item be centered.
 * Parent must have some sized defined though
 */
.centre {
  margin: 0 auto;
}

/**
 * Aligns text in the centre. Will make it work
 * for other stuff in future
 */
.align-centre {
  text-align: center;
}

/*
 * Series of margin style utilities since I like using
 * them in most CSS frameworks
 */

.mt1 {
  margin-top: 1em;
}
