/**
 * This contains utility classes that you might chuck
 * on random elements
 */

/**
 * Generic class to make an item be centered.
 * Parent must have some sized defined though
 */
.centre {
  margin: 0 auto;
}

/**
 * Aligns text in the centre. Will make it work
 * for other stuff in future
 */
.align-centre {
  text-align: center;
}

/*
 * Series of margin style utilities since I like using
 * them in most CSS frameworks
 */

.mt1 {
  margin-top: 1em;
}

/*
 * Makes the component act like a spoiler on Discord
 * i.e. Greyed out until hovered over (Will try and make it be clicky instead someday)
 */
.spoiler {
  background-color: var(--spoiler-hidden);
  color: var(--spoiler-hidden);
  border-radius: .3em;
  filter: brightness(0%); /* So things like emojis are hidden */
  transition-property: color, background-color, filter;
  transition-duration: .4s
}

.spoiler:hover {
  background-color: var(--spoiler-shown);
  color: white;
  filter: brightness(100%)
}
